body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
}

h2 {
    position: sticky;
    top: 0;
    background: #f9f9f9;
    padding: 10px 0;
    margin: 0;
    z-index: 50;
    border-bottom: 1px solid #ddd;
}

#section-1 img {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}

.text {
    text-align: justify;
}

.clear {
    clear: both;
}

.multicolumn-text {
    column-width: 300px;
    column-gap: 20px;
}

@media (max-width: 1024px) {
    .multicolumn-text {
        column-count: 2;
        column-width: auto; /
    }
}

@media (max-width: 768px) {
    .multicolumn-text {
        column-count: 1;
        column-width: auto;
    }
}

#subscribe-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#subscribe-button:hover {
    background-color: #45a049;
}

#modal.hidden {
    display: none;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 50%;
    height: 50%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="email"] {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}